@use '../2-tools/functions/convertions/pixels';
@use '../2-tools/mixins/media-query/breakpoint';

$breakpoint-list: ['xsm', 'sm', 'md', 'lg', 'xl', 'xxl'];
@mixin base($property){
    @each $breakpoint in $breakpoint-list{
        @include breakpoint.checker($breakpoint){
            @if($breakpoint == 'xsm'){
                .d-#{$property}{
                    display: $property !important;
                }
            }@else{
                .d-#{$property}-#{$breakpoint}{
                    display: $property !important;
                }
            }
        }
    }
}
@include base(none);
@include base(inline-flex);
@include base(flex);
@include base(inline-block);
@include base(inline);
