@use '../../2-tools/functions/convertions/pixels';
@use '../../2-tools/mixins/media-query/breakpoint';

$breakpoint-list: ['xsm', 'sm', 'md', 'lg', 'xl', 'xxl'];
@mixin base($property){
    @each $breakpoint in $breakpoint-list{
        @include breakpoint.checker($breakpoint){
            @if($breakpoint == 'xsm'){
                .jc-#{$property}{
                    justify-content: $property !important;
                }
            }@else{
                .jc-#{$property}-#{$breakpoint}{
                    justify-content: $property !important;
                }
            }
        }
    }
}

@include base(space-between);
@include base(space-around);
@include base(center);
@include base(stretch);
@include base(flex-start);
@include base(flex-end);
@include base(space-evenly);
