$primary: (
  50: #FDECF5,
  100: #FCDEEE,
  200: #F9B9DA,
  300: #F698C8,
  400: #F372B5,
  500: #F051A4,
  600: #EB1483,
  700: #B20F64,
  800: #750A42,
  900: #3D0522
);

$secondary: (
  50: #EEFAFB,
  100: #DDF4F8,
  200: #B7E8F0,
  300: #96DEE9,
  400: #70D2E1,
  500: #4CC6D9,
  600: #29ADC2,
  700: #1F8493,
  800: #155761,
  900: #0B2D32
);

$tertiary: (
  50: #F3EEFB,
  100: #E7DDF8,
  200: #CCB7F0,
  300: #B496E9,
  400: #9970E1,
  500: #7F4CD9,
  600: #6129C2,
  700: #4A1F93,
  800: #301561,
  900: #190B32
)

